/*.sidebar {
  height: 100vh;
  width: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1c2024;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
} */

/* .sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
} */

/* .menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: rgba(0, 0, 0, 0);
}

.menu-btn:hover {
  background-color: #ebebeb;
  color: #303030;
  border-color: rgba(255, 255, 255, 0.15);
} */

/* tailwind classes */
.sidebar-layout {
  @apply 
    fixed 
    bottom-0 
    inset-x-0 
    flex 
    justify-center 
    items-center 
    w-full 
    p-5

    sm:bottom-0
    sm:top-auto
    sm:right-0  
    sm:justify-end
    sm:pb-3
    sm:pr-5

    xl:bottom-auto
    xl:top-0
    xl:inset-x-auto 
    xl:right-0 
    xl:w-[90px] 
    xl:h-screen 
    xl:flex-col 
    xl:bg-[--yirsa-dark-grey]
    xl:justify-center 
  ;
  border-left: 1px solid rgb(50 50 50);
}

.menu-btn-tw {
  @apply
    text-2xl 
    sm:text-lg 
    xl:text-4xl
  ;
}

.menu-ul-tw {
  @apply
    flex 
    gap-5 
    pt-2 
    sm:flex-row 
    xl:flex-col 
    md:gap-8
  ;
}