/*.sidebar {
  height: 100vh;
  width: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1c2024;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
} */

/* .sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
} */

/* .menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: rgba(0, 0, 0, 0);
}

.menu-btn:hover {
  background-color: #ebebeb;
  color: #303030;
  border-color: rgba(255, 255, 255, 0.15);
} */

/* tailwind classes */
.sidebar-layout {
  @apply 
    fixed 
    bottom-0 
    inset-x-0 
    flex 
    justify-center 
    items-center 
    w-full 
    p-2
    sm:bottom-auto
    sm:top-0
    sm:inset-x-auto 
    sm:right-0 
    sm:w-[60px] 
    sm:h-screen 
    sm:flex-col 
    sm:bg-yirsa-dark-grey
    md:w-[90px]
  ;
}

.menu-btn-tw {
  @apply
    text-2xl 
    md:text-4xl
  ;
}

.menu-ul-tw {
  @apply
    flex 
    gap-5 
    pt-2 
    sm:flex-col 
    md:gap-8
  ;
}