.backgroundImage {
  background-image: url("@/assets/starting-screen.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.backgroundImageGame {
  background-image: url("@/assets/game.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
