@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Force un rendu propre des polices */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Tes variables CSS globales */
  --yirsa-light-yellow: #fff3bb;
  --yirsa-yellow: #e8c977;
  --yirsa-deep-yellow: #ffd75e;
  --yirsa-yellow-hover: #ffe38a;
  --yirsa-dark-grey: #1c2024;
  --yirsa-light-grey: #c2c2c2;
  
  --yirsa-mage: #4f8fe0;
  --yirsa-druide: #5fae56;
  --yirsa-sorcier: #a13ad1;
}

/* Reset de base pour l'application */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--yirsa-dark-grey);
  color: #ffffff;
  overflow-x: hidden; /* Évite les dérapages horizontaux */
}

/* On retire les bordures/outlines bleus par défaut des boutons pour garder nos propres styles */
button {
  font-family: inherit;
}