.mortar-wrapper {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.mortar-btn {
  position: absolute;
  top: 60%;
  left: calc(50% - 260px);
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border: none;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
  transition: filter 0.15s ease;
  background-color: var(--yirsa-yellow)
}

.mortar-btn-hover {
  filter: drop-shadow(0 0 20px rgba(120, 200, 255, 0.7));
}