.mortar-wrapper {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.mortar-layer{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 24px rgba(255, 310, 20, 1));
}

.mortar-layer:hover{
  /* filter: drop-shadow(0 0 24px rgba(255, 160, 60, 1)); */
}


.mortar-btn {
  position: absolute;
  top: 83%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 80px;
  border: none;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
  transition: filter 0.15s ease;
  background-color: rgba(30, 255, 0, 0.288);
}

.mortar-btn:hover {
  filter: drop-shadow(0 0 20px --yirsa-deep-yellow);
}