.recipe-item{
 
}
.recipe-title {
    background-color: #0a1315;
    color: rgb(185, 185, 185);
   /*  border: 1px solid rgb(63, 63, 63);
    border-radius: 10px; */
    margin-top: 0.4rem;
}
.recipe-title h4{
    font-family: 'BBH Sans Hegarty';
    
}
.recipe-title p{
   font-family: 'Oswald';
}
.recipe-instructions{
    padding-top:-24px;
    background-color: #451e6b;
    color: rgb(185, 185, 185);
    font-family: 'Oswald';
}
.recipe-ingredients{
    background-color: #451e6b;
}

.recipe-ingredients span{
    font-family: 'Oswald';
}

.title-ingredient{
    font-family: 'BBH Sans Hegarty';
    color: rgb(185, 185, 185);

}

.recipe-reminder{
   width:200px;
   margin:0 auto;
   background-color:rgb(0, 121, 20);
   border-radius: 5px;
}

.recipe-content {
  transition: max-height 1s;
  overflow: hidden;
}

.recipe-content.open {
  max-height: 1000px; /* Ajuste selon le contenu max attendu */
}

.recipe-content.closed {
  max-height: 0;
}